<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="SoulstoneDB" connectionString="Data Source=Hades\Hades;Initial Catalog=Soulstone_TST;uid=sa;pwd=sa"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
